<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>Log In</title>
</head>
<body>
    <div style="margin-left: 30%; margin-right: 30%;">
        <h4>
           该页面仅供6班用户使用，意在收集目前大家的信息，方便联系。
           了解大家现在的活动地点，时间安排，以确定我们再次聚首最
           为合理的时间与地点。同时，出门在外，到了谁的地盘，才知道
           该找哪位地主。
        </h4>
        <div style="margin-left: 20%; margin-right: 20%;">
        <form action="/login" method="POST">
            {% raw xsrf_form_html() %}
            QQ: <input type="text" name="qq" />
            <input type="submit" value="Log In" />
        </form>
        {% if message %}
        <h5 style="color: red;">{{ message }}</h5>
        {% end %}
        </div>
    </div>
</body>
</html>
